@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background-color: #161616;
  color: #eee;
  font-family: 'Open Sans', sans-serif;
}


main {
  text-align: center;
}

header {
  padding: 1rem 0;
}

input, button {
  font-family: inherit;
  background-color: #282828;
  color: inherit;
  padding: 8px 14px;
  border: none;
  outline: none;
  font-size: 16px;
}


button {
  background-color: #3467eb;
  transition: .2s ease;
  cursor: pointer;


}


button:hover {
  transform: translateX(4px);
}

#content {
  width: 70%;
  margin: 1rem auto;
  padding: 1rem; 
}

p {
  font-size: 18px;
  margin: 8px 0;
}

span {
  color: orange;
  margin: 16px 0;
  display: block;
}

@media only screen and (max-width: 700px) {
  #content {
    width: 90%;
  }
  input, button {
    display: block;
    margin: 6px auto;
  }


}